@inject IAuthenticationProvider Auth;

<Card Style="width:40rem;">
    <CardBody>
        <AuthorizeView>
            <div class="post-heart">
                <InteractiveEntityOptionsElement Entity="Comment" />
            </div>
        </AuthorizeView>
        <CardText>Posted by <a href="/Profile/@Comment.Owner.UserName">@Comment.Owner.UserName</a> at @Comment.CreatedAt.ToShortTimeString() @IsModified()</CardText>
        <CardText>@Comment.Message</CardText>
        <div class="row" style="max-width:30rem;">
            <div class="col">
                <VoteElement Entity="Comment" />
             </div>
             <div class="col">
                 <Button @onclick="OnShowEditor" class="btn btn-small" Color="ButtonColor.None" Type="ButtonType.Link" Disabled=@IsDisabled><Icon Name="IconName.Messenger" /> Reply</Button>
                 @if (ShowBanMessage)
                 {
                    <BannedUserElement />
                 }
            </div>
         </div>
         
         @if (ShowEditor)
         {
             <CommentEditorElement @ref=EditorWindow Parent="Comment" OnCancel="OnCancelClick" OnComplete="OnCompleteClick" />
         }
         
         @if (ShowChildren)
         {
            @foreach (Comment child in Comment.Comments)
            {
                <br />
                <CommentElement Comment="child" />
            }
         }
    </CardBody>
</Card>
<br />

@code 
{
    /// <summary>
    /// Is this element enabled? Do not allow the element to be enabled if the user is not signed in.
    /// </summary>
    private bool IsDisabled = false;

    /// <summary>
    /// Show the editor for this element.
    /// </summary>
    private bool ShowEditor = false;

    /// <summary>
    /// Should we show the ban message?
    /// </summary>
    private bool ShowBanMessage = false;

    /// <summary>
    /// Reference for the editor.
    /// </summary>
    private CommentEditorElement EditorWindow;

    /// <summary>
    /// The comment we should display using this comment.
    /// </summary>
    [Parameter] public Comment? Comment { get; set; } = new Comment();

    /// <summary>
    /// Should we show the children of this comment along with the comment?
    /// </summary>
    [Parameter] public bool ShowChildren { get; set; } = true;

    /// <summary>
    /// Initialize the element.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        var user = await Auth.GetUser();
        if (user == null)
        {
            IsDisabled = true;
        }

        await base.OnInitializedAsync();
    }

    /// <summary>
    /// Show the editor for this comment.
    /// </summary>
    protected async void OnShowEditor()
    {
        User user = await Auth.GetUser();
        if (user.IsBanned != null)
        {
            ShowBanMessage = true;
        }
        else
        {
            ShowEditor = true;
        }
    }

    /// <summary>
    /// The editor cancel button has been clicked.
    /// </summary>
    private void OnCancelClick()
    {
        this.Dispose();
    }

    /// <summary>
    /// The editor complete has been clicked.
    /// </summary>
    private void OnCompleteClick()
    {
        this.Dispose();
    }

    /// <summary>
    /// Hide the editor and dipose of the editor for best measures.
    /// </summary>
    private void Dispose()
    {
        this.ShowEditor = false;
        this.EditorWindow = null;
    }

    /// <summary>
    /// Gets a string telling whether the post has been modified.
    /// </summary>
    /// <returns></returns>
    private string IsModified()
    {
        if (Comment.CreatedAt != Comment.ModifiedAt)
        {
            return "(Edited, " + Comment.ModifiedAt.ToShortDateString() + ")";
        }

        return "";
    }
}
