@page "/Favorite";
@inject postMortemWorker Worker
@inject IAuthenticationProvider Auth;

<h3>Your Favorites</h3>

<PostList _Posts="_favorites" />

@code 
{
    /// <summary>
    /// List of favorite posts.
    /// </summary>
    private List<Post> _favorites = new List<Post>();

    /// <summary>
    /// Initialize the component.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        User user = await Auth.GetUser();
        foreach (FavoritePost post in user.Favorites)
        {
            _favorites.Add(post.Post);
        }

        await base.OnInitializedAsync();
    }
}
