@page "/Favorite";
@inject postMortemWorker Worker

<h3>Your Favorites</h3>

<PostList _Posts="_favorites" />

@code 
{
    /// <summary>
    /// List of favorite posts.
    /// </summary>
    private List<Post> _favorites = new List<Post>();

    /// <summary>
    /// The currently signed in user.
    /// </summary>
    [CascadingParameter] protected UserState User { get; set; }

    /// <summary>
    /// Initialize the component.
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        try
        {

            foreach (FavoritePost post in User.Viewer.Favorites)
            {
                _favorites.Add(post.Post);
            }

            await base.OnInitializedAsync();
        }
        catch (Exception e)
        {
            // No catching allowed. Poachers will be shot.
        }
    }
}
