@page "/Posts/View/{ID}";
@inject postMortemWorker Worker
@inject NavigationManager Navigation
@inject IRefreshService RefreshService;

<PostElement Post="Post"/>

@if (!Post.Archived)
{
    <CommentEditorElement Owner="User.Viewer" Parent="Post" />
}

<br/>
<h2>Comments:</h2>
<br />

@foreach (Comment comment in Post.Comments)
{
    <CommentElement Comment="comment"/>
}

@code
{
    [Parameter]
    public string ID { get; set; }

    [Parameter]
    public Post? Post { get; set; } = new Post();

    /// <summary>
    /// The currently signed in user.
    /// </summary>
    [CascadingParameter] protected UserState User { get; set; }

    /// <summary>
    /// Initialize the component.
    /// </summary>
    protected override void OnInitialized()
    {
        RefreshService.RefreshRequested += OnRefreshRequest;
        Post = Worker.Posts.Get(Int32.Parse(ID));
        base.OnInitialized();
    }

    private void OnRefreshRequest()
    {
        this.StateHasChanged();
    }
}
